@page "/AddSales"

@using AccountsUIBlazor.UIModels; 
@using System.Net.Http
@using AccountsUIBlazor.UIModels;
@using System.Text;
@using System.Text.Json
@inject HttpClient HttpClient
@inject NavigationManager navigationManager;
<h3>Sales</h3>


<EditForm Model="UISales" OnValidSubmit="ValidSubmit" OnInvalidSubmit="InvalidSubmit">
<div class="col-md-8">
        From Date<RadzenDatePicker style="width: 100%;" Name="fromDate" @bind-Value="UISales.UICalenderModel.FromDate" />
</div>
<div class="col-md-8">
        To Date<RadzenDatePicker style="width: 100%;" Name="Todate" @bind-Value="UISales.UICalenderModel.ToDate" Change="DateSelection" />
</div>
<div class="col-md-8 pt-1">
        
        <RadzenAutoComplete Placeholder="Select vendor stock in..." class="mt-2" Data="@UISales.UIStockInList" TextProperty="LoadName" ValueProperty="@UIStockIn.StockInId" Change="@OnChange" />
</div>
    <div class="col-md-8 pt-1">
        <RadzenAutoComplete Placeholder="Select customer name.." class="mt-2" Data="@UISales.UICustomerNamesList" TextProperty="CustomerName" ValueProperty="@UIStockIn.CustomerId" Change="@CustomerNameChange" />
    </div>
<div class="col-md-8">
        <label for="price">Price:</label>
        <input type="number" class="form-control" id="Price" @bind="@UISales.UISalesPostDataModel.Price" @oninput="CalculateAmount" @onblur="CalculateAmount" placeholder="enter price." />
        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" id="quantity" @bind="@UISales.UISalesPostDataModel.Quantity" @oninput="CalculateAmount" @onblur="CalculateAmount" placeholder="enter quantity." />
        <label for="Amount">Total Amount:</label>
        <input type="number" class="form-control" id="TotalAmount" @bind="@UISales.UISalesPostDataModel.TotalAmount" />
        <InputSelect @bind-Value="@UISales.UISalesPostDataModel.Type">
            @foreach (var value in Enum.GetValues<SaleType>())
            {
                <option value="@value">@value</option>
            }
        </InputSelect>
 </div> 
<div>
        <button type="submit" class="btn btn-primary" Style="margin-top:10px">Add Sales</button>
</div>
</EditForm>

<div class="row mt-3">
    <div class="col-md-12">

        <h4>Customer Details</h4>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Load Name</th>
                    <th>Customer Name</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Amount</th>
                    <th></th>
                    <!-- Add more columns as needed -->
                </tr>
            </thead>
            <tbody>
                @foreach (var sale in sales)
                {
                    <tr>
                        <td>@sale.LoadName</td>
                        <td>@sale.CustomerName</td>
                        <td>@sale.CreatedDate</td>
                        <td>@sale.Price</td>
                        <td>@sale.Quantity</td>
                        <td>@sale.TotalAmount</td>
                        <td>
                            <div>
                                <RadzenButton ButtonStyle="ButtonStyle.Secondary"
                                              Click="HandleDeleteClick"><RadzenIcon Icon="delete" /></RadzenButton>
                            </div>
                        </td>
                        <!-- Add more columns as needed -->
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {


    public UISales UISales { get; set; } = new();
    public UISalesStockInData UIStockIn { get; set; } = new();
    private List<SalesDetailsDto> sales = new List<SalesDetailsDto>() { new SalesDetailsDto() };

    public string Log { get; set; } = "";


    protected override void OnInitialized()
    {
        // Load customer details on page load
        //FillGridForSaleAsPerStockInId();
        LoadCustemerNames();
    }

    private async void FillGridForSaleAsPerStockInId()
    {
        //for binding grid
        int stockInId = UISales.UISalesPostDataModel.StockInId;
        // var results = await HttpClient.PostAsJsonAsync($"StockIn/PostStockInsAsPerDates", UISales.UICalenderModel);
        // var APIreturn = Newtonsoft.Json.JsonConvert.DeserializeObject<List<UISalesStockInData>>(await results.Content.ReadAsStringAsync());
        sales = await HttpClient.GetFromJsonAsync<List<SalesDetailsDto>>($"Sales/GetSalesDataAsPerStockInId?stockInId="+stockInId);
        StateHasChanged();
    }

    private async void HandleDeleteClick(MouseEventArgs args)
    {

    }
    private async void LoadCustemerNames()
    {
        //for binding autocomplete dropdownlist
        UISales.UICustomerNamesList = new List<UICustomerNames>();
        UISales.UICustomerNamesList = await HttpClient.GetFromJsonAsync<List<UICustomerNames>>($"Customer/GetAllCustomerNames");
        StateHasChanged();
    }
    void OnChange(object value)
    {

        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        UIStockIn.StockInId = UISales.UIStockInList.Where(e => e.LoadName.Equals(value))
                              .Select(p => p.StockInId).FirstOrDefault();
        GetVendorId(UIStockIn.StockInId);
        UISales.UISalesPostDataModel.LoadName = str.ToString();
        UISales.UISalesPostDataModel.StockInId = UIStockIn.StockInId;


        LoadCustemerNames();
        // UIStockIn.VendorName = str.ToString();

        // Console.WriteLine($"Value changed to {str}");
    }

    void CustomerNameChange(object value)
    {

        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;
        UIStockIn.CustomerId = UISales.UICustomerNamesList.Where(e => e.CustomerName.Equals(value))
                              .Select(p => p.CustomerId).FirstOrDefault();
        UISales.UISalesPostDataModel.CustomerId = UIStockIn.CustomerId;
        // GetVendorId(UIStockIn.StockInId);
        // LoadCustomerDetails();
        // UIStockIn.VendorName = str.ToString();

        // Console.WriteLine($"Value changed to {str}");
    }

    public void InvalidSubmit(EditContext formContext)
    {
        Log += "OnInvalidSubmit fired. ";
    }


    public void DateSelection()
    {
        Log += "DateSelection fired. ";
        GetStockInData();
    }

    public void CalculateAmount()
    {

        UISales.UISalesPostDataModel.TotalAmount = UISales.UISalesPostDataModel.Price * UISales.UISalesPostDataModel.Quantity;
        StateHasChanged();
    }

    public async Task GetStockInData()
    {
        // Log += "DateSelection fired. ";
        var results = await HttpClient.PostAsJsonAsync($"StockIn/PostStockInsAsPerDates", UISales.UICalenderModel);
        var APIreturn = Newtonsoft.Json.JsonConvert.DeserializeObject<List<UISalesStockInData>> (await results.Content.ReadAsStringAsync());
        Console.WriteLine(APIreturn);
        foreach (var item in APIreturn)
        {
            UISales.UIStockInList.Add(new UIStockInItem { StockInId = item.StockInId, LoadName = item.LoadName });
        }
        //StateHasChanged();
    }
    public async Task GetVendorId(int StockInId)
    {

        int vendorId = 0;
        var id = await HttpClient.GetStringAsync($"Sales/GetVendorId?id={StockInId}");
        int.TryParse(id, out vendorId);
        UIStockIn.VendorId = vendorId;
        UISales.UISalesPostDataModel.VendorId = UIStockIn.VendorId;

    }

    public void Submit(EditContext formContext)
    {
        var form = (UICustomer)formContext.Model;
        Log += "OnSubmit fired. ";
    }

    public async Task ValidSubmit(EditContext formContext)
    {
        UISales = (UISales)formContext.Model;

        try
        {
            var obj = await HttpClient.PostAsJsonAsync($"Sales/AddSales", UISales.UISalesPostDataModel);
            Console.WriteLine(obj);
            FillGridForSaleAsPerStockInId();
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message.ToString());
        }
        //return null;
    }
}
 